{% extends "base.html" %}
{% block content %}

<p>&nbsp;</p>
<h4>About Weather Scan Service</h4>
<p>With machine learning algoritms weather scan is able to predict rain and other critical weather characteristics in 49 regions in Australia. It could be used for any other locations over the world.</p>
<p>The weather prediction system includes:</p>
<p>- ability to <a href="https://weather-predictor-api.herokuapp.com/predict/">predict from xls files</a> or from external API&nbsp;<br />- external&nbsp;<a href="https://weather-predictor-api.herokuapp.com/api/v1/income_classifier/predict?status=production&amp;version=1.1.1">REST API </a>for handling and obtaining results<br />- user interface profile, <a href="https://weather-predictor-api.herokuapp.com/register/">user registration system&nbsp;</a><br />- visualization of <a href="https://weather-predictor-api.herokuapp.com/future/">prediction results&nbsp;</a><br />- versioning of<a href="https://weather-predictor-api.herokuapp.com/api/v1/"> ML models, prototyping of models</a><br />- maintaining prediction logs<br />- user security system</p>
<p>Service is created by Gavrysh Volodymyr in 2020 for educational purposes.</p>
<p>contact <a href="https://www.linkedin.com/in/volodymyrgavrish/">https://www.linkedin.com/in/volodymyrgavrish/</a></p>
<p>&nbsp;</p>

{% endblock content %}
