{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    {% if title %}
        <title>Weather Scan - {{ title }}</title>
    {% else %}
        <title>Weather Scan for better life</title>
    {% endif %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159214679-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-159214679-1');
    </script>
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-light bg-steel fixed-top">
        <div class="container">
          <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'blog-home' %}">
              <img src="{% static 'med_scan_logo.png' %}" alt="Weather scan web site" >
                </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar navbar-light mr-auto" style="background-color: #e3f2fd;">
              <!-- <a class="nav-item nav-link" href="{% url 'blog-home' %}">home</a> -->
              <a class="nav-item nav-link" href="{% url 'blog-about' %}">about</a>
              <a class="nav-item nav-link" href="{% url 'blog-pricing' %}">price</a>
              <a class="nav-item nav-link" href="{% url 'predict' %}">predict</a>
              <a class="nav-item nav-link" href="{% url 'future' %}">future</a>
              <a class="nav-item nav-link" href="{% url 'map' %}">records</a>

            </div>
          <!-- Navbar Right Side -->
            <div class="navbar navbar-light mr-auto" style="background-color: #e3f2fd;">
            {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'profile' %}">profile</a>

                <div class="dropdown">
                  <button class="dropdown-item" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          tools
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="https://weather-scan.herokuapp.com/api/v1/">api</a>
                    <a class="dropdown-item" href="https://weather-scan.herokuapp.com/api/v1/income_classifier/predict">api_predict</a>

                  </div>
                </div>

                <a class="nav-item nav-link" href="{% url 'admin:index' %}">admin</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">logout</a>
            {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">register with us</a>
            {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <br>
    <br>
    <br>
    <br>
    <img style="border-width: 2px; margin: 2px 20px 2px 20px;" src="https://i.gifer.com/PT1J.gif" class="rounded float-left" alt="Weather in Australia" width="320" height="200">
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <p class='text-muted'>
              <ul class="list-group">
                <a href='#' class="list-group-item list-group-item-light">Latest Development</a>
                <a href='#' class="list-group-item list-group-item-light">New Products</a>
                <a class="list-group-item list-group-item-light" href="{% url 'post-create' %}">Add News</a>

              </ul>
            </p>
                <div style="position: sticky; padding: 2em; left: 50%; top: 50%;" id="openweathermap-widget-12"> </div>
                  <script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  window.myWidgetParam.push({id: 12,cityid: '2147714',appid: '5ab921629accc594d74b108990b0dbc7',units: 'metric',containerid: 'openweathermap-widget-12',  });  (function() {var script = document.createElement('script');script.async = true;script.charset = "utf-8";script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();
                  </script>
          </div>
        </div>
      </div>
    </main>
    <footer class="border-top">
      <div class="row">
        <div class="col px-md-5">
          <img class="mb-1" src={% static 'med_scan_logo.png' %} alt="Scan">
          </img>
          <small class="text-muted">&copy; 2020 </small>
        </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
            <li><a class="" href="{% url 'blog-about' %}">Weather prediction</a></li>
            <li><a class="" href="{% url 'blog-about' %}">Weather analysis</a></li>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
            <li><a class="" href="{% url 'blog-about' %}">API connection</a></li>
            <li><a class="" href="{% url 'blog-about' %}">Domain expertise</a></li>
          </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
            <li><a class="" href="{% url 'blog-about' %}">Team</a></li>
            <li><a class="" href="{% url 'blog-about' %}">Privacy</a></li>
          </ul>
          </div>
      </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
